.white{
    flex: 1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 64px;
}
.black{
    flex: 1;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 64px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: royalblue;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}